<a href="https://colab.research.google.com/github/sigvehaug/CAS-Applied-Data-Science/blob/master/Module-1/M1-D3-MySQL-Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### MySQL Exercise

You have 45 minutes for this exercise. You will be randomly be assigned to class colleague and the two of get a separate virtual room where you can solve the exercise togehter. When you have finished, please return to the main virtual room.

If you both are in the same physical location, of course you don't have to use your virtual room.

**Task**
- Check if there is visible correlation between payment amount and postal code of the customer, i.e. make a scatter plot.  
- Calculate the total price for all orders in the database per product line.
How much you do in SQL directly and how much with dataframes is up to you. 

**Have fun and start here:**

- Study [MySQL-PDF.pdf](https://github.com/sigvehaug/CAS-Applied-Data-Science/raw/master/Module-1/M1-D2-DB/MySQL-PDF.pdf) in a different browser tab for an overview of the database to be used.
- Connect to the database classicmodels which is running on computer host.

mysql is not part of the default colab environment, so we need to install it.

In [6]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp37-cp37m-manylinux1_x86_64.whl (30.9 MB)
     |████████████████████████████████| 30.9 MB 80 kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.26

In [7]:
# mysql is in package "conda install mysql-connector-python"
import mysql.connector
import pandas as pd 
my_connect = mysql.connector.connect(
      host="fl-5-232.zhdk.cloud.switch.ch",
      port=3306,
      user="user",
      passwd="fum+Apheb4",
      #database='training'
      database="classicmodels"
    )
####### end of connection ####

DatabaseError: ignored

Now check that you can read the tables:

In [ ]:
df_prodline = pd.read_sql("SELECT productLine FROM productlines",my_connect)
df_prodline

        productLine
0      Classic Cars
1       Motorcycles
2            Planes
3             Ships
4            Trains
5  Trucks and Buses
6      Vintage Cars

Now continue with your task!

In [ ]:
# Scatter plot showing payment amount versus postal code
# Your code comes here

In [ ]:
# One possibility getting total price for all orders per product line
# Your code comes here

What is potentially very bad about this solution?

### NB

The server with the database used in this notebook will be shut down tonight. However, installing a mysql data server on your own laptop is quite easy. Google is your friend. It takes maybe 1h for a beginner, 10min for an experienced.